tensorboard
scikit-learn
seqeval
tqdm
requests
psutil
sacrebleu
sentencepiece
protobuf
wandb
transformers==4.2.1
datasets==1.1.1
accelerate==0.10.0
deepspeed==0.5.10
fairseq==0.10.2
nltk==3.7
spacy
prettytable
torchinfo
