tensorboard
tensorboardX
TorchCRF
scikit-learn
seqeval
tqdm
requests
psutil
sacrebleu
sentencepiece
protobuf
wandb
transformers==3.0.2
datasets==2.5.1
accelerate==0.5.1
deepspeed==0.5.10
fairseq==0.10.2
nltk==3.7
spacy
prettytable
torchinfo
